{% extends "learning_logs/base.html" %}

{% block page_header %}
  <h1>Topics</h1>
{% endblock page_header %}

{% block content %}
  <ul>
    {% for topic in topics %} {# Перебираем список topics из словаря context.#}
      <li><h3>
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
      </h3></li>
    {% empty %} {# Сообщает что делать при отсуствии элементов в списке#}
      <li><h3>No topics have been added yet.</h3></li>
    {% endfor %} {# Этот тег обозначает конец цикла for.#}
  </ul>

  <h3><a class="btn btn-primary" href="{% url 'learning_logs:new_topic' %}">Add a new topic:</h3></a>

{% endblock content %}